:root {
    --mainBGColor: rgb(51, 51, 51);
    --navBGColor: rgb(51, 51, 51);
    --navWidth: 100px;
}

body {
    margin-left: var(--navWidth);
    background-color: var(--mainBGColor);
}


/* -- Navigation Bar -- */
.navBtn {

    /* Style */
    border-radius: 25px;

    /* Sizing */
    width: 100px;
    height: 30px;

    /* Color */
    background-color: silver;
}

.navBtnSmall {
    width: 40px;
    height: 30px;


    background-color: silver;
}

.btn {
    top: 0;
}

.btnSmall{
    top: 0;
}

.navbar{
    /* Flex */
    display: flex;
    flex-flow: column;

    position: fixed;
    left: 0;
    /* Sizing */
    width: 100px;
    height: 99.5%;

    /* Style */
    box-shadow: 1px 1px 5px 1px black;

    /* Color */
    background-color: var(--navBGColor);
}

.navbar div{
    position: relative;
}
/* -- Navigation Bar End -- */

footer {
    position: relative;
}


/* TODO PAGE








*/