:root {
    --mainBGColor: rgb(51, 51, 51);
    --navBGColor: rgb(51, 51, 51);
    --navWidth: 100px;
}

body {
    margin-left: var(--navWidth);
    background-color: var(--mainBGColor);
}

/* -- Navigation Bar -- */
.navbar{
    /* Position */
    position: fixed;
    left: 0;

    /* Size */
    width: 100px;
    height: 99.5%;

    /* Style */
    box-shadow: 1px 1px 5px 1px black;
    border-left: 0;
    border-right: 2px;
    border-top: 0;
    border-bottom: 2px;
    border-color: black;
    border-style: ridge;

    /* Color */
    background-color: var(--navBGColor);
}
.navBtnMiddle {
    /* Position */
    margin-left: 1px;

    /* Size */
    width: 96px;
    height: 30px;

    /* Style */
    border-radius: 5px;
    font-size: 12px;
    font-weight: bolder;

    /* Color */
    color: silver;
    background-color: rgb(60, 60, 60);
}
.navBtnBottom {
    /* Size */
    width: 40px;
    height: 30px;

    /* Style */
    border-color: black;
    border-radius: 5px;
    
    /* Color */
    background-color: rgb(60, 60, 60);
}
.navContent {
    position: static;
}
    /* Top Box */
.topBox {
    position: relative;
    margin-bottom: 10px;
}
.topBox .a {
    /* Size */
    height: 30px;
    padding-top: 5px;

    /* Style */
    font-family: monospace;
    text-align: center;
    border-bottom: 2px ridge black;

    /* Color */
    color: rgb(219, 185, 99);
    background-color: black;
}
    /* Middle Box */
.middleBox {
    position: relative;
}
.middleBox .a {
    margin-bottom: 10px;
}
    /* Bottom Box */
.bottomBox {
    display: flex;
    flex-direction: row;
}
.bottomBox .a {
    position: absolute;
    left: 2px;
    bottom: 0;
}
.bottomBox .b {
    position: absolute;
    right: 2px;
    bottom: 0;
}
.bottomBox .c {
    position: absolute;
    bottom: 40px;
}
/* -- Navigation Bar End -- */

/* TODO PAGE








*/